<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Roki Miftah Kamaludin" />
    <meta name="description" content="skrolGram" />
    <meta name="keywords" content="skrolGram" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
          href="https://cdn.rokimiftah.id/projects/django/skrolgram/favicon.ico"
          type="image/x-icon" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    {% block content %}
    {% endblock content %}
  </body>
</html>
